<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uestc.monitor.mapper.WindowRecordMapper">
  <resultMap id="BaseResultMap" type="com.uestc.monitor.pojo.WindowRecord">
    <id column="wRecordID" jdbcType="BIGINT" property="wrecordid" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="window" jdbcType="BIT" property="window" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from WindowRecord
    where wRecordID = #{wrecordid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.uestc.monitor.pojo.WindowRecord">
    <selectKey keyProperty="wrecordid" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into WindowRecord (userID, window, time
      )
    values (#{userid,jdbcType=INTEGER}, #{window,jdbcType=BIT}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.uestc.monitor.pojo.WindowRecord">
    update WindowRecord
    set userID = #{userid,jdbcType=INTEGER},
      window = #{window,jdbcType=BIT},
      time = #{time,jdbcType=TIMESTAMP}
    where wRecordID = #{wrecordid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select wRecordID, userID, window, time
    from WindowRecord
    where wRecordID = #{wrecordid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select wRecordID, userID, window, time
    from WindowRecord
  </select>
  <select id="selectRecentRecord" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select wRecordID, userID, window, time
    from WindowRecord
    where userID = #{userid,jdbcType=INTEGER}
    order by wRecordID desc
    limit 1
  </select>
</mapper>