<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uestc.monitor.mapper.LocationRecordMapper">
    <resultMap id="lRecord" type="com.uestc.monitor.domain.pojo.LocationRecord">
        <id column="lRecordID" jdbcType="BIGINT" property="lRecordID"/>
        <result column="userID" jdbcType="INTEGER" property="userID"/>
        <result column="location" jdbcType="BIT" property="location"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
    </resultMap>
    <insert id="insert" parameterType="com.uestc.monitor.domain.pojo.LocationRecord">
        insert into LocationRecord (userID, location, time)
        values (#{lRecord.userID,jdbcType=INTEGER}, #{lRecord.location,jdbcType=BIT}, current_timestamp)
    </insert>
    <select id="selectRecentRecord" parameterType="java.lang.Integer" resultMap="lRecord">
        select lRecordID, userID, location, time
        from LocationRecord
        where userID = #{userid,jdbcType=INTEGER}
        order by lRecordID desc
        limit 1
    </select>
</mapper>