<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uestc.monitor.mapper.SmokeRecordMapper">
    <resultMap id="BaseResultMap" type="com.uestc.monitor.domain.pojo.SmokeRecord">
        <id column="sRecordID" jdbcType="BIGINT" property="srecordid"/>
        <result column="userID" jdbcType="INTEGER" property="userid"/>
        <result column="smoke" jdbcType="BIT" property="smoke"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="smokeSensor" jdbcType="BIT" property="smokesensor"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from SmokeRecord
        where sRecordID = #{srecordid,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.uestc.monitor.domain.pojo.SmokeRecord">
        <selectKey keyProperty="srecordid" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into SmokeRecord (userID, smoke, time,
        smokeSensor)
        values (#{userid,jdbcType=INTEGER}, #{smoke,jdbcType=BIT}, #{time,jdbcType=TIMESTAMP},
        #{smokesensor,jdbcType=BIT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.uestc.monitor.domain.pojo.SmokeRecord">
        update SmokeRecord
        set userID      = #{userid,jdbcType=INTEGER},
            smoke       = #{smoke,jdbcType=BIT},
            time        = #{time,jdbcType=TIMESTAMP},
            smokeSensor = #{smokesensor,jdbcType=BIT}
        where sRecordID = #{srecordid,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select sRecordID, userID, smoke, time, smokeSensor
        from SmokeRecord
        where sRecordID = #{srecordid,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select sRecordID, userID, smoke, time, smokeSensor
        from SmokeRecord
    </select>
    <select id="selectRecentRecord" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select sRecordID, userID, smoke, time, smokeSensor
        from SmokeRecord
        where userID = #{userid,jdbcType=INTEGER}
        order by sRecordID desc
        limit 1
    </select>
</mapper>